.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1;
  width: 100%;
  font-size: 2rem;
  color: #efefef;
  align-items: center;
}

.timer-leftSide,
.timer-rightSide {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
}

.timer-score {
  display: flex;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: #795633;
  align-items: center;
  justify-content: center;
}

.timer-rightSide {
  align-items: flex-start;
  height: 90%;
}

.timer-player-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.timer-player-eaten-pieces {
  width: 100%;
  min-height: 45px;
  display: flex;
  align-items: center;
}

.eaten-piece-group {
  width: fit-content;
  display: inline;
}

.eaten-piece-score {
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
}

.eatenPiece {
  position: relative;
  margin-left: -22.5px;
}

.eatenPiece:first-child {
  margin-left: -10px;
}
