#main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem 0;
  width: 70vh;
  min-height: 160px;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 3.5rem;
  border-radius: 0 0 0 0.5rem;
  border: 0;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:active {
  transform: scale(0.95);
}
